@font-face {
  font-family: 'Open Sans Condensed', sans-serif;
  src: url("/fonts/OpenSansCondensed-Bold.ttf") format("ttf");
}


html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
